<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Questionnaire d'enquêtes sur les installations électriques domestiques</title>
      <!-- CSS -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/style.css" rel="stylesheet">
      <!-- FONT -->
      <link href="https://fonts.gstatic.com" rel="preconnect">
      <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
   </head>
   <body>
        <!-- CONTAINER -->
        <div class="container d-flex align-items-center min-vh-100">
        <div class="row g-0 justify-content-center">
            <!-- TITLE -->
            <div class="col-lg-4 offset-lg-1 mx-0 px-0">
                <div id="title-container">
                    <img class="covid-image" src="../static/images/logo.jpg">
                    <h2>Shinny Technology</h2>
                    <h3>Electrité-Bâtiment</h3>
                    <p>Nous menons un enquête sur vos installations d'électricité à domicile en vue de vous aider.</p>
                </div>
            </div>
            <!-- FORMS -->
            <div class="col-lg-7 mx-0 px-0">
            <div class="progress">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%"></div>
         </div>
         <div id="qbox-container">
            <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
               <div id="steps-container">
                  <div class="step">
                  <h1 class="text-info text-center">LA MISE A TERRE</h1>
                  <hr/>
                     <h4>Mon installation électrique est-elle mise à terre?</h4>
                     <div class="row justify-content-center" >
                        <div class="col-lg-4">
                           <img src="../static/images/Q1.jpg" />
                        </div>
                        <div class="form-check ps-0 q-box col-lg-4">
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_1_yes" name="q_1" type="radio" value="Yes"> 
                              <label class="form-check-label question__label" for="q_1_yes">Oui</label>
                           </div>
                           <div class="q-box__question">
                              <input checked class="form-check-input question__input" id="q_1_no" name="q_1" type="radio" value="No"> 
                              <label class="form-check-label question__label" for="q_1_no">Non</label>
                           </div>
                        </div>
                        
                     </div>
                     
                     <br/>
                     <hr/>
                     <h4>Les masses métalliques (canalisations, huisseries métal, vidanges métaliques) sont-elle reliées à terre?</h4>
                     <div class="row justify-content-center" >
                        <div class="col-lg-4">
                           <img src="../static/images/Q2.jpg" />
                        </div>
                        <div class="form-check ps-0 q-box col-lg-4">
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_2_yes" name="q_2" type="radio" value="Yes"> 
                              <label class="form-check-label question__label" for="q_1_yes">Oui</label>
                           </div>
                           <div class="q-box__question">
                              <input checked class="form-check-input question__input" id="q_2_no" name="q_2" type="radio" value="No"> 
                              <label class="form-check-label question__label" for="q_1_no">Non</label>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-info text-center">LE TABLEAU ELECTRIQUE</h1>
                     <h4>Mon installation électrique a-t-elle un disjoncteur de  coupure générale?</h4>
                     <div class="row justify-content-center" >
                        <div class="col-lg-4">
                           <img src="../static/images/Q3.jpg" />
                        </div>
                        <div class="form-check ps-0 q-box col-lg-4">
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_3_yes" name="q_3" type="radio" value="Yes"> 
                              <label class="form-check-label question__label" for="q_3_yes">Oui</label>
                           </div>
                           <div class="q-box__question">
                              <input checked class="form-check-input question__input" id="q_3_no" name="q_3" type="radio" value="No"> 
                              <label class="form-check-label question__label" for="q_2_no">Non</label>
                           </div>
                        </div>
                        
                     </div>
                     
                     <h4>Les circuits de mon installation sont-ils protégés par un ou plusieurs différentiels, indentifiables à leur bouton test?</h4>
                     <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q4.jpg" />
                        </div>
                        <div class="form-check ps-0 q-box col-lg-4">
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_4_yes" name="q_4" type="radio" value="Yes"> 
                              <label class="form-check-label question__label" for="q_2_yes">Oui</label>
                           </div>
                           <div class="q-box__question">
                              <input checked class="form-check-input question__input" id="q_4_no" name="q_4" type="radio" value="No"> 
                              <label class="form-check-label question__label" for="q_2_no">Non</label>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LE TABLEAU ELECTRIQUE</h1>
                     <h4>Mon installation électrique a-t-elle un tableau regroupant les protections?</h4>
                     <div class="form-check ps-0 q-box">
                     <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q5-1.jpg" />
                        </div>
                        <div class="q-box__question col-lg-6">
                           <input class="form-check-input question__input" id="q_5_yes" name="q_5" type="radio" value="Yes"> 
                           <label class="form-check-label question__label" for="q_3_yes">Oui</label>(Tableau avec disjoncteurs)
                        </div>
                     </div>
                     <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q5-2.jpg" />
                        </div>
                        <div class="q-box__question col-lg-6">
                           <input checked class="form-check-input question__input" id="q_5_no1" name="q_5" type="radio" value="No1"> 
                           <label class="form-check-label question__label" for="q_3_no">Non </label>(Appareils en porcelaine fixés sur spport bois ou métal)
                        </div>
                     </div>
                     <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q5-3.jpg" />
                        </div>
                        <div class="q-box__question col-lg-6">
                           <input class="form-check-input question__input" id="q_5_no2" name="q_5" type="radio" value="No2"> 
                           <label class="form-check-label question__label" for="q_5_no2">Oui</label>(Tableau avec coupe-circuits pour fusible)
                        </div>
                     </div>
                     <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q5-4.jpg" />
                        </div>
                        <div class="q-box__question col-lg-6">
                           <input checked class="form-check-input question__input" id="q_5_no3" name="q_5" type="radio" value="No3"> 
                           <label class="form-check-label question__label" for="q_5_no3">Non </label>(Fusible à visser)
                        </div>
                     </div>
                     </div>
                  </div>
                  <div class="step">
                     <h1 class="text-center text-info">LE TABLEAU ELECTRIQUE</h1>
                     <h4>Tous mes circuits sont-ils protégés en conformité avec la norme NF C 15-100?</h4>
                     <div class="row">
                        <!--<div class="col-lg-6">
                           <div class="form-check ps-0 q-box">
                              <div class="q-box__question">
                                 <input class="form-check-input question__input q-checkbox" id="q_6_yes" name="q_6" type="checkbox" value="Oui"> 
                                 <label class="form-check-label question__label" for="q_4_uk">Oui</label>
                              </div>
                           </div>
                           <div class="form-check ps-0 q-box">
                              <div class="q-box__question">
                                 <input class="form-check-input question__input" id="q_6_no" name="q_6" type="checkbox" value="No"> 
                                 <label class="form-check-label question__label" for="q_6_no">Non</label>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-check ps-0 q-box">
                              <div class="q-box__question">
                                 <input class="form-check-input question__input" id="q_4_de" name="q_4" type="checkbox" value="de"> 
                                 <label class="form-check-label question__label" for="q_4_de">Non</label>
                              </div>
                           </div>
                           <div class="form-check ps-0 q-box">
                              <div class="q-box__question">
                                 <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                 <label class="form-check-label question__label" for="q_4_in">Oui</label>
                              </div>
                           </div>
                           <div class="form-check ps-0 q-box">
                              <div class="q-box__question">
                                 <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                 <label class="form-check-label question__label" for="q_4_eu">Non</label>
                              </div>
                           </div>
                        </div>-->
                        <table class="table" >
                           <tbody>
                              <tr>
                                 <td><img src="../static/images/Q6-1.jpg" /></td>
                                 <td>LUMIERES</td>
                                 <td>10A ou 16A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-2.jpg" /></td>
                                 <td>PRISES</td>
                                 <td>16A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-3.jpg" /></td>
                                 <td>VOLETS ROULANTS</td>
                                 <td>16A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-4.jpg" /></td>
                                 <td>CONVECTEURS</td>
                                 <td>20A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-5.jpg" /></td>
                                 <td>CHAUFFE-EAU</td>
                                 <td>20A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-6.jpg" /></td>
                                 <td>LAVE-VAISSELLE</td>
                                 <td>20A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-7.jpg" /></td>
                                 <td>LAVE-LINGE</td>
                                 <td>20A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-8.jpg" /></td>
                                 <td>FOUR ELECTRIQUE</td>
                                 <td>20A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-9.jpg" /></td>
                                 <td>PLAQUE DE CUISSON</td>
                                 <td>32A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-10.jpg" /></td>
                                 <td>CONGELATEUR</td>
                                 <td>20A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td><img src="../static/images/Q6-11.jpg" /></td>
                                 <td>TV-INFORMATIQUE-WIFI</td>
                                 <td>16A</td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                       <label class="form-check-label question__label" for="q_4_in">Oui</label>
                                    </div>
                                 </td>
                                 <td>
                                    <div class="q-box__question">
                                       <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                       <label class="form-check-label question__label" for="q_4_eu">Non</label>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LES FILS ELECTRIQUES</h1>
                     <h4>Mes fils sont-ils conformes?</h4>
                     <div class="row">
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q7-1.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_breathing" name="q_5_breathing" type="checkbox" value="breathing"> 
                              <label class="form-check-label question__label" for="q_5_breathing">Oui</label>: Fil rigide avec gaine en plastique
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q7-2.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                              <label class="form-check-label question__label" for="q_5_chest">Non</label>: Conducteur souple avec multibrins
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-7">
                           <img src="../static/images/Q7-3.jpg" />
                        </div>
                           <div class="q-box__question col-lg-5">
                              <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                              <label class="form-check-label question__label" for="q_5_speech">Non</label>: Fils avec isolant tissu
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q7-4.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                              <label class="form-check-label question__label" for="q_5_pale">Non</label>: Fils oxydés, isolant abîmé, section trop faible
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LES FILS ELECTRIQUES</h1>
                     <h4>Le cheminement de mes fils est-il conforme?</h4>
                     <div class="row">
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q10-1.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_breathing" name="q_5_breathing" type="checkbox" value="breathing"> 
                              <label class="form-check-label question__label" for="q_5_breathing">Oui</label>: Fil encastré dans els murs avec les gaines et boîtes plastique
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q10-2.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                              <label class="form-check-label question__label" for="q_5_chest">Non</label>: Fils sous moulures plastique
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q10-3.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                              <label class="form-check-label question__label" for="q_5_speech">Non</label>: Fils sous moulure bois ou fils métallique
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q10-4.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                              <label class="form-check-label question__label" for="q_5_pale">Non</label>: Trop de fils traînant sur le sol
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LES INTERRUPTEUS</h1>
                     <h4>Mes interrupteurs sont-ils conformes?</h4>
                     <div class="row">
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q9-1.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_breathing" name="q_5_breathing" type="checkbox" value="breathing"> 
                              <label class="form-check-label question__label" for="q_5_breathing">Oui: Interrupteurs sans vis apparentes</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q9-2.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                              <label class="form-check-label question__label" for="q_5_chest">Non: Ancien interrupteur porcelaine, métal ou plastique</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q9-3.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                              <label class="form-check-label question__label" for="q_5_speech">Non: Interrupteur cassé</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q9-4.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                              <label class="form-check-label question__label" for="q_5_pale">Non: Interrupteurs à vis apparentes</label>
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LES PRISES DE COURANT</h1>
                     <h4>Mes prises de courant sont-elles conformes?</h4>
                     <div class="row">
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-7">
                           <img src="../static/images/Q8-1.jpg" />
                        </div>
                           <div class="q-box__question col-lg-5">
                              <input class="form-check-input question__input" id="q_5_breathing" name="q_5_breathing" type="checkbox" value="breathing"> 
                              <label class="form-check-label question__label" for="q_5_breathing">Oui: Prise avec broche de terre et système  pour protection enfant</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-7">
                           <img src="../static/images/Q8-2.jpg" />
                        </div>
                           <div class="q-box__question col-lg-5">
                              <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                              <label class="form-check-label question__label" for="q_5_chest">Non: Prises anciennes(métal, vis apparentes, alvéoles incompatible avec fiches actuelles...)</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-7">
                           <img src="../static/images/Q8-3.jpg" />
                        </div>
                           <div class="q-box__question col-lg-5">
                              <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                              <label class="form-check-label question__label" for="q_5_speech">Non: Prises abîmées ou cassées</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q8-4.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                              <label class="form-check-label question__label" for="q_5_pale">Non: Prises mal fixées, ne tenant plus au mur</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q8-5.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                              <label class="form-check-label question__label" for="q_5_pale">Non: Prises non raccordées à la terre dans la cuicine et les pièces d'eau</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q8-6.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                              <label class="form-check-label question__label" for="q_5_pale">Non: Trop d'appareils branchées sur une même prise</label>
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LA SALLE DE BAIN</h1>
                     <h4>Dans ma salle de bain, les appareils sont-ils suffisament éloignés de la baignoire ou du bac à douche?</h4>
                     <div class="row">
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q11-1.jpg" />
                        </div>
                           <div class="q-box__question col-lg-6">
                              <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                              <label class="form-check-label question__label" for="q_5_chest">Non: Eclairage, interrupteur, prise de courant, appareil de chauffage electrique à moins de 2.25m au-dessus au dessus de la baignoire ou du bac à douche</label>
                           </div>
                        </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                        <div class="row justify-content-center" >
                        <div class="col-lg-6">
                           <img src="../static/images/Q11-2.jpg" />
                        </div>
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                              <label class="form-check-label question__label" for="q_5_speech">Non: Prise de courant à moins de 0.60m à côté de la baignoire ou du bac à douche</label>
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
                  <div class="step">
                  <h1 class="text-center text-info">LA RESEAU DE COMMUNICATION</h1>
                     <h4>Disposez-vous d'un coffret de communication et de prises spécifiques pour la TV et l'accès à Internet, au téléphone?</h4>
                     <div class="row justify-content-center">
                        <div class="col-lg-6">
                           <img src="../static/images/Q12.jpg" />
                        </div>
                        <div class="col-lg-6" >
                        <div class="form-check ps-0 q-box">
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                              <label class="form-check-label question__label" for="q_5_chest">Oui</label>
                           </div>
                        </div>
                        <div class="form-check ps-0 q-box">
                           <div class="q-box__question">
                              <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                              <label class="form-check-label question__label" for="q_5_speech">Non</label>
                           </div>
                        </div>
                        </div>
                        
                        
                     </div>
                  </div>
                  <div class="step">
                  <!--<h1 class="text-center text-info">LES FILS ELECTRIQUES</h1>-->
                     <h4>Vos informations personnelles:</h4>
                     <div class="mt-1">
                        <label class="form-label">Votre nom complet:</label> 
                        <input class="form-control" id="full_name" name="full_name" type="text">
                     </div>
                     <div class="mt-2">
                        <label class="form-label">Votre adresse complète:</label> 
                        <input class="form-control" id="address" name="address" type="text">
                     </div>
                     <div class="mt-2">
                        <label class="form-label">Adresse mail:</label> 
                        <input class="form-control" id="email" name="email" type="email">
                     </div>
                     <div class="mt-2">
                        <label class="form-label">Numéro de téléphone:</label> 
                        <input class="form-control" id="phone" name="phone" type="text">
                     </div>
                  </div>
                  <div class="step">
                     <div class="mt-1">
                        <div class="closing-text">
                           <h4>Votre sécurité est notre préoccupation!</h4>
                           <!--<p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                           <p>Click on the submit button to continue.</p>-->
                        </div>
                     </div>
                  </div>
                  <div id="success">
                     <div class="mt-5">
                        <h4>Formulaire envoyé avec succès!</h4>
                        <!--<p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>-->
                        <a class="back-link" href="">Go back from the beginning ➜</a>
                     </div>
                  </div>
               </div>
               <div id="q-box__buttons">
                  <button id="prev-btn" type="button">Précédent</button> 
                  <button id="next-btn" type="button">Suivant</button> 
                  <button id="submit-btn" type="submit">Soumettre</button>
               </div>
            </form>
         </div>
            </div>
        </div>
        </div>
      <script src="../static/js/script.js"></script>
   </body>
</html>
